
@{
    ViewBag.Title = "Add ToDo";
}

<p><br></p>
<form method="post">
    <input type="text" name="toDo" value="" placeholder="ToDo" />
    <input type="number" name="prio" value="" placeholder="Prio" />
    <input type="Submit" value="Save" />
</form>
